.form__submit-button {
  margin: 25px 0 25px;
  padding: 0;
  background: transparent;
  border: none;
  width: 160px;
  height: 30px;
  border-bottom: 1px solid gray;
  cursor: pointer;
  color: rgb(57, 159, 174);
  text-align: left;
  font-weight: 700;
  font-size: 20px;
}

.form__submit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 900px) {
  .form__submit-button {
    font-size: 15px;
    width: 120px;
  }
}
