.response__copy-button {
  display: flex;
  gap: 5px;
  margin: 7px 0 10px;
  padding: 0;
  background: transparent;
  border: none;
  width: 160px;
  height: 30px;
  grid-area: button;
  border-bottom: 1px solid gray;
  cursor: pointer;
  color: rgb(57, 159, 174);
  text-align: left;
  font-weight: 700;
  font-size: 20px;
}

.response__copy-button:hover {
  opacity: 0.6;
}
