.form {
  max-width: 500px;
  margin: 0 20px 0;
  display: flex;
  flex-direction: column;
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 1fr 1fr 0.5fr 180px;
  gap: 10px 20px;
  grid-template-areas:
    'title title'
    'main-info main-info'
    '. .'
    '. .'
    'competencies competencies'
    '. .'
    'button button'; */
}
