.form__input {
  height: 25px;
  background: transparent;
  border: none;
  border-bottom: 2px solid gray;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.587);
}

.form__input::placeholder {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  opacity: 0.5;
  color: gray;
}

.form__input:focus {
  outline: none;
  border-color: rgba(57, 159, 174, 0.614);
}
